.rating {
    margin: 0;
    padding: 0;
    display: inline-block;
li {
    padding: 1px;
    color: #ffffff;
    font-size: 20px;
  text-shadow: .05em .05em #ffffff;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
&.filled {
     color: #2d9eac; //#21568b
 }
}
&.readonly li.filled {
     color: #2d9eac;
 }
}

.average-rating-container {
    position: relative;
    height: 31px;
    width: 103px;
    //overflow: hidden;
.background,
.foreground {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
}
}
.star i {
  top: 1px;
  display: inline-block;
}
.fa-star {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2d9eac;
}
